@model ManagerDashboardViewModel

<h1>Welcome Manager</h1>



@*1. Registered complaint *@
@*2. Forwared complaint *@
@*1. Resolved by CC *@
@*1. Resolved by Manager *@


<a asp-action="ComplaintList" asp-controller="Manager"  asp-route-status="1">Registered @Model.RegisteredComplaints</a> <br />
<a asp-action="ComplaintList" asp-controller="Manager"  asp-route-status="2">Forwarded @Model.ForwardedComplaints</a><br />
<a asp-action="ComplaintList" asp-controller="Manager"  asp-route-status="3">Resolved By CC @Model.ResolvedByCCComplaints</a><br />
<a asp-action="ComplaintList" asp-controller="Manager"  asp-route-status="4">Resolved By Manager @Model.ResolvedByManagerComplaints</a>
